#Block1 {
    background-color: green;
}

#head {
    font-family: -windows-system, BlinkWinSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#privText {
    font-family: -windows-system, BlinkWinSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    word-break: break-all;
}

#Block2 {
    background-color: violet;
}

#pubkey {
    font-family: -windows-system, BlinkWinSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    word-break: break-all;
}

#Block3 {
    background-color: gold;
}

#address {
    font-family: -windows-system, BlinkWinSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    word-break: break-all;
}

#Block4 {
    background-color: rgb(131, 8, 8);
}